/* 리셋 스타일 적용 (선택사항) */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; footer잘려서 주석처리함*/
}
/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
}
/* 헤더 스타일 */
.main_header {
    margin: auto;
    width: flex;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid #FF7200;
    margin-bottom: 20px;
}
.img_logo {
    width: 100px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 5px;
}
/* 데이터 추가 영역 */
input[type="text"] {
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #FF7200;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
/* 메인 폼 스타일 */
.add_form {
    padding: 45px;
    margin-top:30px;
    min-height: 512px;
}
.form_div {
    /* max-width: 600px; */
    /* white-space: nowrap; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_left{
    text-align: right;
    float:left;
    width:40%;
    height:480px;
    margin-right: 20px;
    margin-top: 5px;
}
.form_right{
    width: 60%;
    height:480px;
    float: right;
    padding-left: 10px;
    border-left:2px solid #FF7200;
}
label {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
}
button{
    background-color: #FF7200;
    color: #fff;
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    
}
/* 푸터 스타일 */
.footer {
    text-align: center;
    /* margin-top: 40px; */
    padding: 20px 0;
    background-color: #FF7200;
    color: white;
    line-height: 8px;
    height: 50px;
    margin-bottom: 0px;;
}
.logo_text {
    font-size: 16px;
}
.footer_text {
    font-size: 14px;
    margin-top: 10px;
}
.footer_copy {
    font-size: 12px;
    margin-top: 10px;
}
/* 숨김 텍스트 스타일 */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}